@import 'lib/_reset.css';
@import 'lib/_fonts.css';

:root {
  /**/
  --c-body: 0 0% 95%;
  --c-bg: 0 0% 100%;
  --c-fg: 0 0% 10%;
  --c-shadow: 0 0% 50%;

  /*
  --c-bg: 0 0% 10%;
  --c-fg: 0 0% 100%;
  */

  --c-cta: 150, 100%, 50%;
  --c-cta-fg: 0 0% 10%;

  --t-family:
    'IBM Plex Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  --t-family-mono: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  --t-fs: 1rem;
  --t-fs-s: 0.75rem;
  --t-fs-m: 0.875rem;
  --t-fs-l: 1.25rem;
  --t-fw: 400;
  --t-fw-b: 600;
  --t-fw-l: 300;

  --b-r: 4px;
  --b-r-s: 2px;
  --b-r-l: 8px;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --c-body: 0 0% 15%;
    --c-bg: 0 0% 10%;
    --c-fg: 0 0% 100%;
    --c-shadow: 0 0% 50%;
    --c-cta-fg: 0 0% 10%;
  }
}
*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--t-family);
  font-size: var(--t-fs);
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--c-body));
  color: hsl(var(--c-fg));
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
