@import 'lib/_reset.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, Times, serif;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
